server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://auth-service:8081
          predicates:
            - Path=/api/auth/**
        - id: patient-service
          uri: http://patient-service:8082
          predicates:
            - Path=/api/patients/**
        - id: doctor-service
          uri: http://doctor-service:8083
          predicates:
            - Path=/api/doctors/**
        - id: notification-service
          uri: http://notification-service:8084
          predicates:
            - Path=/api/notifications/**
        - id: ai-service
          uri: http://ai-service:5000
          predicates:
            - Path=/api/ai/**

management:
  endpoints:
    web:
      exposure:
        include: health,info

